
/*COLORS */
/*#bc2e1e
rgba(67, 165, 214, 0.5)*/


html,
body {
  margin: 0;
}

p, h1, h2, h3, li, a {
  font-family: 'BioRhyme', serif;
  color: #111;
  text-decoration: none;
  font-style: normal;
}


.top-container,
.nav,
.middle-container,
.title,
.col-graphs,
.info-sections,
.listings-section,
.listings {
  width: 100%;
  display: flex;
  align-items: center;
}

/*TOP*/
.top-container {
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../top.jpg') fixed center no-repeat;
  background-size: cover;
  margin-bottom: 0px;
}


.title {
  text-decoration:overline;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: 6em;
  color: #111;

}

.title a{
  font-size: 6em;
  font-family: 'BioRhyme', serif;
  color: #111;
  text-shadow:
    0 1px 0px #378ab4,
    1px 0 0px #5dabcd,
    1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd,
    2px 3px 2px #378ab4,
    3px 2px 2px #5dabcd,
    3px 4px 2px #378ab4,
    4px 3px 3px #5dabcd,
    4px 5px 3px #378ab4,
    5px 4px 2px #5dabcd,
    5px 6px 2px #378ab4,
    6px 5px 2px #5dabcd,
    6px 7px 1px #378ab4,
    7px 6px 1px #5dabcd,
    7px 8px 0px #378ab4,
    8px 7px 0px #5dabcd;
}

.title h1 {
  margin: 10px;
}

/*TOP nav */

.nav {
align-items: center;
width: 100%;
padding-left: 0;
margin: 0;
justify-content: flex-start;
position: fixed;
background: rgba(67, 165, 214, .9);
border: #111 solid 1px;
}


.nav li, .nav li a  {
  list-style: none;
  font-size: 1em;
  color: #111;
  padding: 5px;
  margin: 0px 5px 0px 0px;
  font-family: 'BioRhyme', serif;
}



/*MIDDLE */


.middle-container {
  flex-direction: column;
  background: url('../top.jpg') fixed center no-repeat;
  background-size: cover;
}

.introduction {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 500px;
  background: rgba(255, 255, 255, .8);
}

.col-graphs {
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin: 10px;

}

.dog-img {
  width: 45%;
  height: 95%;
  padding: 15px;
}

.middle-p{
  font-family: 'BioRhyme', serif;
  padding-left: 5px;
}

.middle-title {
  margin: 50px 0px 0px 0px;
  font-size: 3em;
  text-decoration: overline;
  color: #111;
  text-align: center;
  text-shadow:
    0 1px 0px #378ab4,
    1px 0 0px #5dabcd,
    1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd,
    2px 3px 2px #378ab4,
    3px 2px 2px #5dabcd,
    3px 4px 2px #378ab4,
    4px 3px 3px #5dabcd,
    4px 5px 3px #378ab4,
    5px 4px 2px #5dabcd,
    5px 6px 2px #378ab4,
    6px 5px 2px #5dabcd,
    6px 7px 1px #378ab4,
    7px 6px 1px #5dabcd,
    7px 8px 0px #378ab4,
    8px 7px 0px #5dabcd;
}

.info-sections {
  justify-content: center;
  align-items: center;
  height: 400px;;
}

.listings-section {
  justify-content: space-around;
  flex-direction: column;
  background: url('../top.jpg') fixed center no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

.listing-title {
  width: 100%;
  text-align: center;
  margin: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 50px;
  font-size: 3em;
  color: #111;
  text-decoration: overline;
  text-shadow:
    0 1px 0px #111,
    1px 0 0px #5dabcd,
    1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd,
    2px 3px 2px #378ab4,
    3px 2px 2px #5dabcd,
    3px 4px 2px #378ab4,
    4px 3px 3px #5dabcd,
    4px 5px 3px #378ab4,
    5px 4px 2px #5dabcd
}

.listing{
  border: 3px solid #eee;
  width: 30%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #111;
  background: #eee;
}

.listings {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background:  rgba(255, 255, 255, 0.8);
}

.post-pic {
  height: auto;
  width: 100%;
}

.post  {
  color: #111;
}

.rent-title {
  margin: 0;
  font-size: 2em;
  width: 100%;
  text-align: center;
}

.post-details {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.post-list {
  padding-left: 0;
  list-style: none;
}

.footer {
  margin:0;
  display: flex;
  width: 100%;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  background: rgba(67, 165, 214, .9);
}

.footer-link {
  padding: 10px;
}
