{{outlet}}
<div class="info-sections">
  <div class="info-intro">
    <h2 class="info-title">About Spots</h2>
    <p class="info-graphs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Super Rentals HQ</p>
    <p class="info-graphs">
      {{#link-to 'contact' class="btns"}}
      Contact Us
      {{/link-to}}
    </p>
  </div>
</div>
