{{outlet}}
<div class="jumbo">
  <div class="right tomster">
    <h2>About Us</h2>
    <p>
    lorum psum dolor sit amet, consectetur adipisicing elit. Repellat pariatur molestias accusantium. Perspiciatis optio dolor pariatur animi rem soluta accusamus accusantium nobis natus maiores officiis fuga debitis dolore eligendi, ut?
    </p>
    {{#link-to 'contact' class="button"}}
    Holler
    {{/link-to}}
  </div>
</div>
