<div class="info-sections">
  <div class="info-intro">
    <h2 class="info-title">Lets Chat</h2>
    <p class="info-graphs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Super Rentals HQ</p>
    <address class="info-graphs" >
      000 Round Avenue
      Austin, Texas 78703
    </address>
    <a class="info-graphs" href="tel:555.555.5555">+1 (555) 555.5555 </a><br>
    <a class="info-graphs"  href="mailto:dcawton@gmail.com">Email</a>
    <p class="info-graphs">
      {{#link-to 'about' class="btns"}}
      About
      {{/link-to}}
    </p>
  </div>
</div>
