<div class="jumbo">
  <div class="right tomster">
    <h2>Holler</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Super Rentals HQ</p>
    <address>
      1700 Round Avenue
      Austin, Texas 78703
    </address>
    <a href="tel:555.555.5555">+1 (555) 555.5555 </a><br>
    <a href="mailto:dcawton@gmail.com">Email</a>
    <p>
      {{#link-to 'about' class="button"}}
      Info
      {{/link-to}}

    </p>
  </div>
</div>
