<div class="index">
  <h3 class="index-title">Find Yours</h3>
  <div class="listings">
    {{#each model as |rental|}}
      <div class="listing">
        <div class="listing-cover"></div>
        <img class="post-pic" src="{{rental.image}}">
        <h3  class="post rent-title">{{rental.title}}</h3>
      </div>
    {{/each}}
  </div>

</div>
